#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center;*/
}

.container {
  background-color: lightgray;
  display: grid;
  grid-template-columns: minmax(200px, calc(1280px - 400px)) 400px;
  gap: 10px;
}

.read-the-docs {
  color: #888;
}
