.Carousel--outer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  height: fit-content;
  width: 100px;
  height: 275px;
  outline: 1px solid;
  flex: 1 0 auto;
}

@media (max-width: 900px) {
  .item:nth-child(n + 6) {
    display: none;
  }
}

@media (max-width: 800px) {
  .item:nth-child(n + 5) {
    display: none;
  }
}

@media (max-width: 700px) {
  .item:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: 600px) {
  .item:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 500px) {
  .item:nth-child(n + 2) {
    display: none;
  }
}

@media (max-width: 400px) {
  .item:nth-child(n + 1) {
    display: none;
  }
}
